<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- Estilos personalizados -->
    <link rel="stylesheet" href="src/css/style.css">

    
</head>
<body class="fondo1">
    
    <!-- Footer -->
    <footer class="footer">
        <div class="footer-social">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-dribbble"></i></a>
            <a href="#"><i class="fab fa-github"></i></a>
            <a href="#"><i class="fab fa-telegram"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
        </div>

        <ul class="footer-nav">
            <li><a href="#home">Home</a></li>
            <li><a href="#about">About us</a></li>
            <li><a href="#team">Team</a></li>
            <li><a href="#technologies">Technologies</a></li>
            <li><a href="#contact">Contact us</a></li>
        </ul>

        <hr>

        <p class="footer-copy">© 2025 All Rights Reserved</p>
    </footer>
</body>
</html>
