<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/src/css/GamePage.css" />

</head>
<body>
    <aside class="sidebar">
        <div class="perfil">
          <div class="icono-perfil"></div>
          <span>Perfil</span>
        </div>
        <nav class="menu">
          <a href="/GamePage.html" class="menu-item">🎮 Play</a>
          <a href="#" class="menu-item">👥 Social</a>
          <a href="/leaderboard.html" class="menu-item">📊 Scoreboard</a>
          <a href="/Tutoriales.html" class="menu-item">❓ FAQs</a>
          <a href="#" class="menu-item">⚙️ Settings</a>
        </nav>
        <button class="logout" onclick="window.location.href='/Login.html'">⏎ Logout</button>      </aside>
</body>
</html>