<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="src/css/style.css">
</head>
<body>
    
    <div class="fondo">
        <!-- Logo de la pagina -->
        <div>

        </div>

        <!-- Menu de Hamburguesa -->
        <header>
            <nav>
                <div class="contenedor">

                    <!-- Logo a la izquierda -->
                    <div class="logo">
                        <img src="src/img/logo.png" alt="Logo del banco">
                    </div>

                    <!-- Menu de hamburguesa a la derecha -->
                    <input type="checkbox" id="menu-toggle">
                    <label for="menu-toggle" class="menu-icon">
                        <span></span>
                    </label>
                    <ul class="menu">
                        <li><a href="#">Play</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div>
            </nav>
        </header>
        
        

    </div>

</body>
</html>