  .imagen-fondo {
    background-image: url(/src/img/Control.gif);
    background-size: cover;
    background-position: center;
    width: 100vw; /* Asegura que ocupe todo el ancho de la ventana */
    height: 100vh; /* Asegura que ocupe toda la altura de la ventana */
  }
       
  .titulo {
    font-size: 38px;
    margin: 0;
  }
  
  .descripcion {
    font-size: 20px;
    color: #ccc;    
    margin-top: -90px; /* Pequeño espacio arriba del texto */
    margin-bottom: 150px; /* Opcional, asegura que no haya separación extra abajo */
  }  
  
  .jugar-btn {
    background-color: #145214;
    border: none;
    color: white;
    padding: 12px 30px;
    font-size: 22px;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
  }


